IO_LOC  "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "sys_rst_n" 4;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
